<html>
	<head>
		<meta charset="utf-8">
			<title>Basic Bootstrap Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<table class="table">
					  <thead>
							<tr>
								<th>Kategorie</th>
								<th>Anzahl</th>
							</tr>
						</thead>
						<tbody>
							{% for typ in typen %}
							<tr>
								<td>
									{{ typ }}								
								</td>
								<td>
									
								<div class="center">
	 							<p>
									</p><div class="input-group">
			 							<span class="input-group-btn">
				  							<button type="button" class="btn btn-default btn-number" data-type="minus" data-field="{{ typ }}">
												<span class="glyphicon glyphicon-minus"></span>
				  							</button>
			 							</span>
										{% for kasten in kaesten %}
											{% if kasten.0.typ = typ%}
			 									<input type="text" name="{{ typ }}" class="form-control input-number" value="{{ kasten|length }}" min="0" max="10">
											{% endif %}
										{% endfor %}
										<span class="input-group-btn">
				  							<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="{{ typ }}">
												<span class="glyphicon glyphicon-plus"></span>
				  							</button>
			 							</span>
									</div>
									<p></p>
								</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/bootstrap/js/plusButton.js"></script>
	</body>
</html>

