<html>
	<head>
		<meta charset="utf-8">
			<title>Schrankverwaltung {{ schranknummer }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
<!--		for testserver
		<form action="/main/{{ schranknummer }}/" method="post"> -->
		<form action="/schrankverwaltung/main/{{ schranknummer }}/" method="post">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<table class="table">
							<thead><tr>
								<th>Kategorie</th>
								<th>Anzahl</th>
							</tr></thead>
							<tbody>
								{% for kastenart in form %}
								<tr>
									<td>
										{{ kastenart.label_tag }} 
									</td>
									<td>
										<div class="center">
											<p></p>
											<div class="input-group">
												<span class="input-group-btn">
													<button type="button" class="btn btn-default btn-number" data-type="minus" data-field={{ kastenart.html_name }}>
														<span class="glyphicon glyphicon-minus"></span>
													</button>
												</span>
												{{ kastenart }}
												<span class="input-group-btn">
													<button type="button" class="btn btn-default btn-number" data-type="plus" data-field={{ kastenart.html_name }}>
														<span class="glyphicon glyphicon-plus"></span>
													</button>
												</span>
											</div>
											<p></p>
										</div>
									</td>
								</tr>
								{% endfor %}
								<tr>
									<td>
										<input type="submit" value="Submit" />
									</td>
									<td>
										<span style="color:#3ADF00">
											<b><p style="text-align:right">{{ success }}</p></b>
										</span>
										{% csrf_token %}
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</form>
		{% load staticfiles %}
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		<script src="{% static "bootstrap/js/plusButton.js" %}"></script>
	</body>
</html>
