<html>
	<head>
		<meta charset="utf-8">
			<title>Schrankverwaltung {{ schranknummer }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<form action="../{{ schranknummer }}/" method="post">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<table class="table">
							<thead><tr>
							<th style="float:left">
								<input type="submit" class="btn btn-default" role="button" value="Submit" />
							</th>
							<th>
								<h4 style="float:left">{{schranknummer}}</h4>
								<div align="right">
								<!--	<a href="../{{room}}.{{ previous_cupboard }}/" class="btn btn-default" role="button">
								    previous
								    </a>
									<a href="../{{room}}.{{ next_cupboard }}/" class="btn btn-default" role="button">
										next
									</a>
                                -->

									<input type="submit" class="btn btn-default" role="button" name="previous" value="previous"/>
									<input type="submit" class="btn btn-default" role="button" name="next" value="next"/>
								</div>
							</th>
							</tr></thead>
							<tbody>
								<th>Kategorie</th>
								<th>Anzahl</th>
								{% for kastenart in form %}
								<tr>
									<td>
										{{ kastenart.label_tag }}
									</td>
									<td>
										<div class="center">
											<p></p>
											<div class="input-group">
												<span class="input-group-btn">
													<button type="button" class="btn btn-default btn-number" data-type="minus" data-field={{ kastenart.html_name }}>
															<span class="glyphicon glyphicon-minus"></span>
													</button>
												</span>
												{{ kastenart }}
												<span class="input-group-btn">
													<button type="button" class="btn btn-default btn-number" data-type="plus" data-field={{ kastenart.html_name }}>
														<span class="glyphicon glyphicon-plus"></span>
													</button>
												</span>
											</div>
											<p></p>
										</div>
									</td>
								</tr>
								{% endfor %}
								<tr>
									<th style="float:left">
										<input type="submit" class="btn btn-default" role="button" value="Submit" />
									</th>
									<th>
										<h4 style="float:left">{{schranknummer}}</h4>
										<div align="right">
											<a href="../{{room}}.{{ previous_cupboard }}/" class="btn btn-default" role="button">
												previous
											</a>
											<a href="../{{room}}.{{ next_cupboard }}/" class="btn btn-default" role="button">
												next
											</a>
										</div>
										<span style="color:#3ADF00">
											<b><p style="text-align:right">{{ success }}</p></b>
										</span>
									</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			{% csrf_token %}
		</form>
		{% load staticfiles %}
		<script src="{% static "jquery/jquery.min.js" %}"></script>
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		<script src="{% static "bootstrap/js/plusButton.js" %}"></script>
	</body>
</html>
